body {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 500;
}

.logos {
	height: 50px;
	width: 100%;
}

.nav-bg {
	background: transparent !important;
}
#header{
    width: 100%;
    height: 100vh;
}
.abo_text{
    height: 100%;
    width: 100%;
}
.abt{
    display: inline-table;
}
.btn.btn-start {
	background: rgb(251, 197, 49);
	padding: 10px 30px;
	border-radius: 50px;
	font-size: 15px;
	text-align: center;
    transition: .5;
}
.btn.btn-start:hover{
    background-color: #fff;
    transition: .5s;
    color: #000;
    border: 1px solid rgb(251, 197, 49);
}
span.brand-c {
	color: rgb(251, 197, 49);
}
.header-image{
    text-align: right;
}
#header .animated{
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@-webkit-keyframes up-down{
    0%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
}
@keyframes up-down{
    0%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
}